// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

footer {
    padding: 1rem;
    text-align: center;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.cursor-pointer {
    cursor: pointer;
}
